  <!-- Start Header -->
  <div class="header">
    <div class="container">
        <div class="navbar">
            <h2>BIT<span>LC</span></h2>
            <span class="icon">
                <span></span>
                <span></span>
                <span></span>
            </span>
                <ul>
                    <li routerLink="/Login">Home</li>
                    <li routerLink="/CountactUS">Contact</li>

                </ul>
                <ul>
                    <li><i class="fas fa-search"></i></li>
                    <li><i class="fas fa-user"></i></li>
                </ul>
        </div>
    </div>
</div>

<!-- End Header -->
<!-- Start Landing -->
<div class="landing">
  <div class="container">
    <div class="text">
      <h1>linux <span>professional</span> institute</h1>
      <div>
      <i class="fa-brands fa-linux"></i>
    <i class="fa-brands fa-suse"></i>
    <i class="fa-brands fa-redhat"></i>
    <i class="fa-brands fa-ubuntu"></i>
    <i class="fa-brands fa-fedora"></i>
    <i class="fa-brands fa-centos"></i>
  </div>
  </div>
  </div>
  </div>
  <!-- End Landing -->
