<!-- Start Contact-->
<div class="contact" >
  <div class="container">
      <div class="info">
          <h2>Contact Us</h2>
          <p>Das Business IT Learning Center bietet Ihnen geförderte IT Umschulungen, IT Weiterbildungen, IT Ausbildungen und IT Grundlagenkurse. Jetzt informieren!</p>
      </div>
      <div class="form">
          <div class="rowone">
              <input type="text" placeholder="Your Name">
              <input type="email" placeholder="Your E-mail">
          </div>
          <div class="rowtwo" >
              <input type="text" placeholder="Your Title">
          </div>
          <div class="rowthree">
              <textarea name="" id="" cols="30" rows="10"placeholder="Your Comment"></textarea>
          </div>
          <div class="sub">
              <input type="submit" value="Send Messag">
          </div>
      </div>
  </div>
   <!-- End Contact-->

