<!-- Start Our Services-->
<div class="our-services">
  <div class="container">
         <div class="text">
          <h1>Herzlich Willkommen</h1>
          <h2>LPIC Zertifizierung Trainer</h2>
          <p>LPI hat es sich zur Aufgabe gemacht, international anerkannte Qualifizierungsstandards für Linux und Freie Software zu entwickeln. Ziel ist die Unterstützung und Förderung eines professionellen Umgangs mit dieser Software.!</p>
      </div>
         <div class="services-container">

             <div class="serv" routerLink="/Choice/teil/Drierwahlmenu">
              <i class="fa-solid fa-building-columns"></i>
                 <h2>Teil-Prüfungsmudos</h2>
             </div>

             <div class="serv" routerLink="/Choice/voll/Drierwahlmenu">
              <i class="fa-solid fa-building"></i>
                 <h2>Voll-Prüfungsmudos</h2>
             </div>
     </div>
  </div>
 </div>
 <!-- End Our Services-->
