<!-- Start Our Services-->
<div class="our-services">
  <div class="container">
      <div class="text">
          <h1>Fragentypen</h1>
          <h2>LPIC Zertifizierung Trainer</h2>
          <p>Bitte wählen Sie Die Fragentypen aus</p>
      </div>

         <div class="services-container">

             <div class="serv" routerLink="/Choice/{{this.parameters[0].mal}}/Drierwahlmenu/M/2">
              <i class="fa-solid fa-list-check"></i>
                 <h2>Multiple-Choice-Fragen</h2>
             </div>

             <div class="serv" routerLink="/Choice/{{this.parameters[0].mal}}/Drierwahlmenu/S/1">
              <i class="fa-solid fa-list-check"></i>
                 <h2>Single-Choice-Fragen</h2>
             </div>

             <div class="serv" routerLink="/Choice/{{this.parameters[0].mal}}/Drierwahlmenu/F/f1">
              <i class="fa-solid fa-list-check"></i>
                 <h2>Fill-Fragen</h2>
             </div>
     </div>
  </div>
 </div>
 <!-- End Our Services-->
